.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    height: 100px;
    align-items: center;
    width: 100%;
}

.header__title {
    font-family: "Fun Font";
    font-size: 25px;
    -webkit-text-stroke: 1px var(--block-background-color);
    color: var(--accent-color);
}

.nav__ul {
    display: flex;
    gap: 20px;
}

.nav__link {
    font-size: 17px;
    position: relative;
    transition: 0.3s;
}

.nav__link > svg {
    position: absolute;
    width: 15px;
    right: -12px;
    top: -3px;
    display: block;
    color: transparent;
    transition: color 0.3s;
}

.nav__link:visited {
    color: var(--grey-color);
}

.nav__link:hover > svg {
    color: var(--main-color);
}

.nav__link:active > svg {
    color: var(--main-color);
}

.header__btn-theme {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    border: 1px solid var(--main-color);
    height: 40px;
    width: 40px;
    padding: 10px;
    transition: transform 0.3s;
}

.header__btn-theme:hover {
    transform: scale(1.1);
}
