@let totalHistories = historyStoreService.totalHistories();
@let currentPage = historyStoreService.currentPage();

<app-histories
  [histories]="histories()"
  [currentPage]="currentPage"
  [totalHistories]="totalHistories"
  (onEdit)="handleEditHis($event)"
  (onDelete)="deleteHistory($event)"
  (onChangePage)="changePage($event)"
></app-histories>

<app-control-panel
  (onOpenCreatingModal)="modalCreatingFormOpen(true)"
  (onOpenStatsModal)="modalStatsOpen(true)"
></app-control-panel>

@if (creatingModalOpen()) {
  <app-modal [header]="titleForm()">
    <app-creating-form
      [(formObj)]="editingHistory"
      (onCancelModal)="modalCreatingFormOpen(false)"
      (onCreate)="addHistory($event)"
      (onEdit)="editHistory($event)"
    ></app-creating-form>
  </app-modal>
}

@if (statsModalOpen()) {
  <app-modal header="Статистика">
    <app-stats [countHis]="totalHistories" (onCancelModal)="modalStatsOpen(false)"></app-stats>
  </app-modal>
}
