<footer class="footer">
  <address>
    <h2>Помурчите нам!</h2>
    <section class="contacts">
      <ul>
        <li class="contacts__item">
          <mat-icon fontIcon="call"></mat-icon>
          <a href="mailto:alex@creativeblog.ru">alex@creativeblog.ru</a>
        </li>
        <li class="contacts__item">
          <mat-icon fontIcon="mail"></mat-icon>
          <a href="tel:+79991234567">+7 (999) 123-45-67</a>
        </li>
      </ul>
    </section>

    <section class="social">
      <ul class="social__list">
        <li class="social__item">
          <a class="social__link insta" href="#"><mat-icon svgIcon="instagram"></mat-icon> </a>
        </li>
        <li class="social__item">
          <a class="social__link vk" href="#"><mat-icon svgIcon="vk"></mat-icon> </a>
        </li>
      </ul>
    </section>
  </address>
  <form class="footer__form" method="get">
    <div class="footer__form-item">
      <label for="title-form">Email</label>
      <input
        class="footer__field"
        type="text"
        name="title"
        id="title-form"
        placeholder="coolman@mail.com"
        required
      />
    </div>
    <div class="footer__form-item">
      <label for="text-form">Ваш мур</label>
      <textarea
        class="footer__field"
        id="text-form"
        name="text"
        placeholder="Например, как признаться, что это мой кот всё подсказывает на занятиях, а не просто мяукает?"
        required
      ></textarea>
    </div>
    <button class="button" type="submit">Помурчать</button>
  </form>
</footer>
