.gallery {
  display: grid;
  grid-template-areas:
    'main cat cat2'
    'main ann ann';
  grid-gap: 10px;
  max-height: 500px;
  overflow: hidden;

  &__item {
    min-height: 0;
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.3s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__main {
    grid-area: main;
  }
  &__cat {
    grid-area: cat;
  }
  &__cat2 {
    grid-area: cat2;
  }
  &__ann {
    grid-area: ann;
  }
}
