<section class="gallery-container">
  <h2>Галерея</h2>
  <div class="gallery">
    <div class="gallery__item gallery__main">
      <img src="/assets/ann-main.gif" loading="lazy" />
    </div>
    <div class="gallery__item gallery__cat">
      <img src="/assets/chill_cat.png" loading="lazy" />
    </div>
    <div class="gallery__item gallery__ann">
      <img src="/assets/work_ann.png" loading="lazy" />
    </div>
    <div class="gallery__item gallery__cat2">
      <img src="/assets/fishing_cat.png" loading="lazy" />
    </div>
  </div>
</section>
