<section class="hero">
  <h2>Герои</h2>
  <div class="hero__block">
    <div class="hero__item left">
      <h3 class="hero__name">Аня</h3>
      <p class="hero__desc">
        Программист с огромным стажем. Иногда кажется, что она занималась кодом ещё в колыбельной.
        Очень любит МяуМяфа.
      </p>
      <img class="hero__image" src="assets/hero-ann.png" alt="Аня" />
    </div>
    <div class="hero__item right">
      <h3 class="hero__name">Мяумяф</h3>
      <p class="hero__desc">
        Кот бенгальской породы. Если начать с ним спорить, он вас замяукает до потери сознания.
        Неукротимый исследователь. Очень любит Аню.
      </p>
      <img class="hero__image" src="assets/hero-cat.png" alt="Аня" />
    </div>
  </div>
</section>
