<header class="header">
  <span class="header__title">Аня и Мяумяф</span>

  <nav class="nav">
    <ul class="nav__ul">
      <li class="nav__item">
        <a class="nav__link" routerLink="/home">
          <mat-icon svgIcon="home-main" class="nav__svg-main"></mat-icon>
          Главная
        </a>
      </li>

      <li class="nav__item">
        <a class="nav__link" routerLink="/blog">
          <mat-icon svgIcon="blog-main" class="nav__svg-main"></mat-icon>
          Истории
        </a>
      </li>

      <li class="nav__item">
        <a class="nav__link" routerLink="/casino">
          <mat-icon svgIcon="casino-main" class="nav__svg-main"></mat-icon>
          <span>new</span> Казино
        </a>
      </li>
    </ul>
  </nav>
</header>
