:host {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
}

@keyframes bounceInLeft {
  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate(-3000px, 0);
  }
  75% {
    opacity: 1;
    transform: translate(20px, 0);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes wheelSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(640deg);
  }
}

[class|='confetti'] {
  position: absolute;
}

$elementCount: 50;
$animationVariations: 6;
$colors: (#03a561, #00a4ff, #f04813, #ff04d2, #fed500);
$shapes: (0, 1, 2);

@for $i from 0 through $elementCount {
  $w: random(18);
  $shape: nth($shapes, random(3));
  $color: nth($colors, random(5));

  .confetti-left-#{$i},
  .confetti-right-#{$i} {
    @if ($shape==0) {
      width: #{$w * 0.6}px;
      height: #{$w * 0.6}px;
      border-radius: 50%;
      overflow: hidden;
      background-color: $color;
    } @else if ($shape==1) {
      background-color: transparent;
      border-bottom: unquote(($w * 0.5) + 'px solid ' + $color);
      border-left: unquote(($w * 0.5) / 2 + 'px solid transparent');
      border-right: unquote(($w * 0.5) / 2 + 'px solid transparent');
      height: 0;
      width: #{$w * 0.5}px;
    } @else {
      width: #{$w}px;
      height: #{$w * 0.4}px;
      background-color: $color;
    }
    top: calc(25% - #{$w}px);
    left: calc(50% - #{$w * 0.3}px);
    opacity: 0;
    transform: translate(0px, 0px) rotate(0deg);
  }

  $animIndex: $i % $animationVariations;
  $duration: unquote(1 + random() + 's');
  $delay: unquote(0.45 + random() + 's');

  .confetti-left-#{$i} {
    animation: drop-left-#{$animIndex} $duration $delay forwards;
  }
  .confetti-right-#{$i} {
    animation: drop-right-#{$animIndex} $duration $delay forwards;
  }
}

@for $k from 0 to $animationVariations {
  @keyframes drop-left-#{$k} {
    $rot: random(360);
    $val: random(10) / 4;
    $opacity: random() + 0.5;

    0% {
      transform: translate(0px, 0px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    10.7% {
      transform: translate(#{$val * 12.6}px, -#{$val * 30}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    21.2% {
      transform: translate(#{$val * 28}px, -#{$val * 57.6}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    30.4% {
      transform: translate(#{$val * 46.1}px, -#{$val * 78.7}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    38.2% {
      transform: translate(#{$val * 66.9}px, -#{$val * 89.4}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    46.1% {
      transform: translate(#{$val * 90.2}px, -#{$val * 85.8}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    57.3% {
      transform: translate(#{$val * 116}px, -#{$val * 64}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    74.6% {
      transform: translate(#{$val * 144.3}px, -#{$val * 20}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    86.2% {
      transform: translate(#{$val * 159.4}px, #{$val * 11.5}px) rotate(#{$rot}deg);
      opacity: $opacity * 0.5;
    }
    100% {
      transform: translate(#{$val * 175}px, #{$val * 50}px) rotate(#{$rot}deg);
      opacity: 0;
    }
  }

  @keyframes drop-right-#{$k} {
    $rot: random(360);
    $val: random(10) / 4;
    $opacity: random() + 0.5;

    0% {
      transform: translate(0px, 0px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    10.7% {
      transform: translate(-#{$val * 12.6}px, -#{$val * 30}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    21.2% {
      transform: translate(-#{$val * 28}px, -#{$val * 57.6}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    30.4% {
      transform: translate(-#{$val * 46.1}px, -#{$val * 78.7}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    38.2% {
      transform: translate(-#{$val * 66.9}px, -#{$val * 89.4}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    46.1% {
      transform: translate(-#{$val * 90.2}px, -#{$val * 85.8}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    57.3% {
      transform: translate(-#{$val * 116}px, -#{$val * 64}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    74.6% {
      transform: translate(-#{$val * 144.3}px, -#{$val * 20}px) rotate(#{$rot}deg);
      opacity: $opacity;
    }
    86.2% {
      transform: translate(-#{$val * 159.4}px, #{$val * 11.5}px) rotate(#{$rot}deg);
      opacity: $opacity * 0.5;
    }
    100% {
      transform: translate(-#{$val * 175}px, #{$val * 50}px) rotate(#{$rot}deg);
      opacity: 0;
    }
  }
}

.confetti {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
