<div class="stats">
  <div class="stats__item">
    <span>Количество историй: </span>
    <div class="stats__amount">{{ countHis() }}</div>
  </div>
  <div class="stats__item">
    <span>Количество комментов: </span>
    <div class="stats__amount">0</div>
  </div>
  <button class="stats__close" (click)="onCancel()">
    <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128 128">
      <path
        d="m71.1 64 42.9 42.9-7.1 7.1L64 71.1 21.1 114l-7.1-7.1L56.9 64 14 21.1l7.1-7.1L64 56.9 106.9 14l7.1 7.1z"
      />
    </svg>
  </button>
</div>
