<section id="histories">
  @if (fullBlog()) {
    <h1>Истории</h1>
    <div class="histories__annotation">
      Погрузитесь в атмосферу приключений с Анной и Мяумяфом с коллекцией историй. Новая история
      выходит каждый четверг раз в год или около того.
    </div>
  } @else {
    <h2>Истории</h2>
  }

  @if (histories().length > 0) {
    <ul class="histories__ul" [class.histories__ul--blog]="fullBlog()">
      @for (history of histories(); track history.id) {
        <li class="histories__item">
          <article class="history" (click)="navigateHistory(history.id)">
            <div class="history__img">
              <img [src]="history.img" alt="Картинка истории" />
              <p class="history__desc history__desc--hidden">{{ history.desc }}</p>
            </div>
            <div class="history-down">
              <span class="history__number">История</span>
              <h3 class="history__title">{{ history.title }}</h3>
              <p class="history__desc">{{ history.desc }}</p>
            </div>
            <div class="history__buttons">
              @if (fullBlog()) {
                <button
                  class="history__btn history__delete"
                  (click)="deleteHis($event, history.id)"
                >
                  <mat-icon fontIcon="delete"></mat-icon>
                </button>
                <button
                  #editBtn
                  class="history__btn history__edit"
                  (click)="editHis($event, history.id)"
                >
                  <mat-icon fontIcon="edit_square"></mat-icon>
                </button>
              }
            </div>
          </article>
        </li>
      }
    </ul>
  } @else {
    <div class="histories__empty">Нет историй</div>
  }

  @if (pages()) {
    <div class="pagination">
      <ul class="pagination__list">
        @for (page of pagesArray(); track $index) {
          <li class="pagination__item">
            <button
              (click)="handleChangePage(page)"
              class="pagination__btn"
              [class.pagination__btn_active]="currentPage() === page"
            >
              {{ page }}
            </button>
          </li>
        }
      </ul>
    </div>
  }

  @if (!fullBlog()) {
    <a class="history__link button" routerLink="/blog">Смотреть все истории</a>
  }
</section>
