<section id="histories">
  <h2>Истории</h2>
  <ul class="histories__ul"></ul>
  <div id="emptyHistory" class="histories__empty">Нет историй</div>
  <a class="history__link button" href="blog.html">Смотреть все истории</a>
  <template id="template-history">
    <li class="histories__item">
      <article class="history">
        <div class="history__img">
          <img src="" alt="" />
          <p class="history__desc history__desc--hidden"></p>
        </div>
        <div class="history-down">
          <span class="history__number"></span>
          <h3 class="history__title"></h3>
          <p class="history__desc"></p>
        </div>
      </article>
    </li>
  </template>
</section>
