.casino-banner {
  background-image: url('assets/catsino.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  pointer-events: none;
  border-radius: 30px;
}
