.creating-form {
  padding: 15px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__block {
    label {
      span {
        color: #c26c79;
      }
    }
    input,
    textarea {
      width: 100%;
      border-radius: 10px;
      padding: 5px 10px;
      border: 1px solid var(--grey-color);
      outline: none;
      background-color: var(--main-background-color);
      color: var(--main-color);
    }

    input {
      border: 1px solid var(--grey-color);
    }

    textarea {
      resize: none;
      height: 100px;
      font-size: 14px;
    }

    .invalid {
      border-color: #924d57;
    }
  }

  &__buttons {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      padding: 5px 15px;
      transition: background-color 0.3s;
    }

    .btn-submit {
      flex-grow: 1;
    }

    .btn-edit {
      background: #307196;
      &:hover {
        background: #508aa5;
      }

      &:disabled {
        background: #94a8ad;
        cursor: default;
      }
    }

    .btn-add {
      background: #309680;

      &:hover {
        background: #50a593;
      }

      &:disabled {
        background: #94ada8;
        cursor: default;
      }
    }

    .btn-cancel {
      background: #96303e;

      &:hover {
        background: #a8525d;
      }
    }
  }

  &__errors {
    overflow: hidden;
    transition: height 0.3s;

    @starting-style {
      height: 0;
    }

    span {
      background: #552c32;
      padding: 2px 5px;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}
