<form class="creating-form" [formGroup]="creatingForm" (ngSubmit)="onSubmit()">
  <div class="creating-form__block">
    <label for="form-create-img">Изображение</label>
    <input type="file" id="form-create-img" accept="image/*" (change)="onFileChange($event)" />
    <p class="file-hint">Выберите фото</p>
  </div>

  <div class="creating-form__block">
    <label for="form-create-title">Заголовок<span>*</span></label>
    <input
      type="text"
      formControlName="title"
      placeholder="Заголовок"
      [class.invalid]="creatingForm.controls.title.touched && creatingForm.controls.title.invalid"
    />
    @if (creatingForm.controls.title.invalid) {
      <div class="creating-form__errors">
        @if (
          creatingForm.controls.title.hasError('required') && creatingForm.controls.title.touched
        ) {
          <span>обязательно</span>
        }

        @if (
          creatingForm.controls.title.hasError('minlength') && creatingForm.controls.title.dirty
        ) {
          <span>min 25</span>
        }
      </div>
    }
  </div>

  <div class="creating-form__block">
    <label for="form-create-desc">Текст статьи<span>*</span></label>
    <textarea
      formControlName="content"
      placeholder="Текст статьи"
      [class.invalid]="
        creatingForm.controls.content.touched && creatingForm.controls.content.invalid
      "
    ></textarea>
    @if (creatingForm.controls.content.invalid) {
      <div class="creating-form__errors">
        @if (
          creatingForm.controls.content.hasError('required') &&
          creatingForm.controls.content.touched
        ) {
          <span>Обязательно</span>
        }
      </div>
    }
  </div>
  <div class="creating-form__buttons">
    @if (idEditing()) {
      <button
        id="btn-create"
        class="button btn-submit btn-edit"
        type="submit"
        [disabled]="creatingForm.invalid"
      >
        Изменить
      </button>
    } @else {
      <button
        id="btn-create"
        class="button btn-submit btn-edit"
        type="submit"
        [disabled]="creatingForm.invalid"
      >
        Создать
      </button>
    }
    <button id="btn-cancel" class="button btn-cancel" type="button" (click)="onCancel()">
      Отмена
    </button>
  </div>
</form>
