*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

address {
  font-style: initial;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: 'Fun Font';
  src: url('/assets/ofont.ru_To\ Japan.ttf');
}

:root {
  --main-color: #292929;
  --secondary-color: #3a3a3a;
  --main-opacity-color: #292929a8;
  --grey-color: #686868;
  --light-grey-color: #cccccc;
  --accent-color: #f5dcc8;
  --white: #e4e4e4;
  --main-background-color: #ffffff;
  --block-background-color: #303030;
}

.dark-theme {
  --main-color: #e9e9e9;
  --secondary-color: #c0c0c0;
  --main-background-color: #202020;
  --block-background-color: #303030;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: var(--main-color);
  background-color: var(--main-background-color);
}

h2 {
  padding: 20px;
  font-weight: 800;
  font-size: 30px;
}

.button {
  display: inline-block;
  background: var(--block-background-color);
  padding: 10px 30px;
  width: fit-content;
  border-radius: 20px;
  color: var(--white);
  cursor: pointer;
  transition: transform 0.3s;
}
